#results{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
}

.result{
    width: 300px;
    height: 650px;
    overflow: hidden;
    border-radius: 1%; 
}

.result img{
    width:300px;
    height:400px;
    object-fit: fill;
}

#result-text{
    padding:10px;
}